.curtain {
	display: none;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
}

.popup_wrap {
	z-index: 4;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&.side {
		right: 0;
		padding: 48px;
		animation-duration: .2s;

		.popup_content {
			padding-bottom: 24px;
			overflow-y: auto;
		}
	}

	&.center {
		width: 100%;
		height: 100%;
		padding: 48px;
		animation-duration: .2s;

		.popup {
			width: 400px;
			height: auto;
			min-height: 322px;
		}
	}

	&.group {
		width: 100%;
		height: 100%;
		padding: 48px;
		animation-duration: .2s;
		display: flex;
		gap: 24px;

		.popup {
			width: 450px;
			height: 560px;
			min-height: 322px;
		}
	}

	&.vote {
		width: 100%;
		height: 100%;
		padding: 48px;
		animation-duration: .2s;

		.popup {
			width: 400px;
			height: auto;
			min-height: 322px;
		}

		.vote_content {
			padding: 16px 24px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: @dark;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			flex: 1;

			&_title {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 16px;
			}

			&_stars-wrap {
				flex: 1;
				min-height: 80px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin: 16px 0;
			}

			&_stars {
				position: relative;
				display: flex;

				&:not(.voted):hover,
				&.voted {
					.stars_star {
						svg {
							path {
								fill: @primary;
							}
						}
					}
				}

				&.voted {
					.stars_star {
						cursor: default;
					}
				}

				.stars_star {
					padding-right: 12px;
					cursor: pointer;

					&:last-child {
						padding-right: 0;
					}

					svg {
						path {
							fill: transparent;
						}
					}

					&_text {
						position: absolute;
						top: 50%;
						transform: translateY(24px);
						left: 0;
						right: 0;
						margin: auto;
						text-align: center;
						display: none;
					}
				}

				&:not(.voted) .stars_star:hover,
				.stars_star.active {
					.stars_star_text {
						display: block;
					}

					~ .stars_star {
						svg {
							path {
								fill: transparent;
							}
						}
					}
				}
			}

			&_note {
				color: #5F5F5F;
			}
		}
	}
}

.popup {
	height: 100%;
	min-width: 300px;
	border-radius: 20px;
	background: @white;
	padding: 16px 0 24px 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);

	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
		padding: 0 24px;
	}

	&_title {
		font-family: Montserrat, sans-serif;
		font-size: 20px;
		font-weight: 700;
	}

	&_close {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: -6px;
		margin-top: 2px;
		cursor: pointer;
		border-radius: 8px;
		transition: background .2s;

		svg {
			path {
				transition: stroke .2s;
			}
		}

		&:hover {
			background: #EAECFF;
			svg {
				path {
					stroke: @primary;
				}
			}
		}
	}

	&_content {
		display: flex;
		flex-direction: column;
		flex: 1;

		.items {
			padding-top: 16px;
			user-select: none;

			&_title {
				font-family: Montserrat, sans-serif;
				font-size: 14px;
				font-weight: 700;
				padding: 0 24px;
				margin-bottom: 6px;
			}

			&_pinned {
				margin-bottom: 16px;
				display: flex;
				flex-direction: column;
			}

			&_unpinned {
				display: flex;
				flex-direction: column;
			}
		}

		.item {
			display: flex;
			align-items: center;
			padding: 6px 24px;
			background: rgba(255,255,255,.8);
			
			&:hover {
				background: #F9F9FF;
			}

			&_title {
				font-size: 12px;
				font-weight: 400;
				margin-left: 10px;
				flex: 1;
			}

			&_drag {
				cursor: grab;
			}
		}

		.accounts {
			padding-top: 16px;
			display: flex;
			flex-direction: column;
			flex: 1;

			&_tabs {
				padding: 0 24px;
				display: flex;
				margin-bottom: 8px;
			}

			&_tab {
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 12px;
				margin-right: 16px;
				height: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 8px;
				border: 1px solid transparent;
				border-radius: 8px;
				transition: color .2s, border-color .2s;
				cursor: pointer;
				text-transform: uppercase;

				&:hover {
					color: #307AE9;
				}

				&.active {
					color: #307AE9;
					border-color: #C3C8EE;
				}
			}

			&_tab-content {
				position: relative;
				display: none;
				padding: 8px 24px 0 24px;
				flex-direction: column;
				justify-content: space-between;
				flex: 1;

				&.active {
					display: flex;
				}

				p {
					font-weight: 400;
					font-size: 12px;
					margin-bottom: 16px;
					line-height: 16px;
				}

				input {
					width: 100%;
					height: 32px;
					padding: 0 12px;
					background: transparent;
					border: 1px solid #C3C8EE;
					border-radius: 8px;

					&::placeholder {
						color: #9E9E9E;
					}
				}

				.button {
					margin-top: auto;
				}

				.tab-tdata_2fa {
					position: relative;
					margin: 8px 0;
					padding: 8px;
				}

				.tab-tdata_coming {
					position: absolute;
					background: rgba(18, 20, 35, 0.7);
					border-radius: 8px;
					color: @white;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					font-size: 14px;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.tab-session_2fa {
					margin-bottom: 16px;
				}

				.tab-sms_phone {
					margin-bottom: 16px;
				}

				.tab-sms_api {
					margin-bottom: 16px;
				}

				.tab-session_coming,
				.tab-sms_coming {
					position: absolute;
					width: 100%;
					background: rgba(18, 20, 35, 0.7);
					color: @white;
					font-family: 'Montserrat', sans-serif;
					font-weight: 700;
					font-size: 14px;
					display: flex;
					justify-content: center;
					align-items: center;
					left: 0;
					bottom: -24px;
					top: 0;
					right: 0;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
				}

				.tab_added {
					font-family: "Montserrat", sans-serif;
					font-weight: 500;
					font-size: 14px;justify-content: center;

					b {
						font-weight: 700;
					}
				}

				.tab_errors {
					display: flex;
					flex-direction: column;
					margin-bottom: 16px;

					&_title {
						font-family: "Montserrat", sans-serif;
						font-weight: 600;
						font-size: 14px;
						padding-bottom: 4px;
					}

					&_content {
						display: flex;
						flex-direction: column;
						max-height: 300px;
						overflow-y: auto;
						font-size: 12px;
						line-height: 16px;
					}

					&_item {
						display: flex;
						white-space: nowrap;

						&_status {
							margin-right: 8px;
							&.item-status-error {
								color: #E34D4D;
							}

							&.item-status-warning {
								color: #ffab05;
							}
						}
					}
				}

				&.added {
					align-items: center;
					justify-content: center;

					.tab_added {
						margin: auto;
					}

					.button {
						width: 100%;
					}
				}
			}
		}

		.remove-accounts {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&_item {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;

				font-family: Montserrat, sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 24px;

				span:first-child {
					order: 2;
					font-family: Open Sans, sans-serif;
					font-size: 12px;
					font-weight: 400;
				}

				span:last-child {
					order: 1;
				}
			}
		}

		.remove-accounts.list {
			align-items: flex-start;
			justify-content: flex-start;
			padding: 0 24px;
			max-height: 400px;
			overflow-y: auto;

			.list_title {
				top: 0;
				position: sticky;
				width: 100%;
				background: @white;
				padding-bottom: 8px;
				margin-bottom: 8px;
			}

			.remove-accounts_item {
				flex-direction: row;
				flex: 0;

				span:first-child {
					order: 1;
				}

				span:last-child {
					order: 2;

					&:before {
						content: '-';
						margin: 0 5px;
					}
				}
			}
		}

		.error {
			flex: 1;
			padding-left: 24px;
			padding-right: 24px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-family: Open Sans, sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: @dark;

			&_title {
				color: @red;
				font-family: Montserrat, sans-serif;
				font-size: 14px;
				font-weight: 700;
				line-height: 24px;
				margin-bottom: 12px;
				text-transform: uppercase;
			}
		}

		.info {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			padding: 0 24px;

			&_id {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				font-size: 12px;
				line-height: 16px;
				width: 100%;
			}

			&_name {
				width: 100%;
			}

			&_limit-messages,
			&_limit-invites {
				width: calc(50% - 8px);

				label {
					display: block;
					font-size: 11px;
					margin-bottom: 4px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 500;
				}
			}

			&_button {
				width: 100%;
			}
		}

		.info-account {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 0 24px;
			margin-top: 12px;
			padding-top: 12px;

			.info_title {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				font-size: 12px;
				line-height: 16px;
			}

			.info_group {
				display: flex;
				gap: 16px;

				.info_avatar {
					flex: none;
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background: lightgrey;
				}

				.info_name {
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
			}

			.info_coming {
				bottom: -23px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			textarea {
				resize: none;
			}

		}
	}

	&_actions {
		padding: 8px 24px 0;

		.remove-accounts_buttons {
			display: flex;
			justify-content: space-between;
			gap: 16px;

			button {
				flex: 1;
			}
		}

		.button-error {
			width: 100%;
		}
	}

	&.chats {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 24px;

		.popup_list {
			display: flex;
			flex-direction: column;
			gap: 12px;

			&_item {
				display: flex;
				gap: 12px;
				align-items: center;

				&_image {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					background: #E8E8E8;
				}
				&_content {
					width: 160px;
					height: 12px;
					border-radius: 100px;
					background: #E8E8E8;
				}

				&:nth-child(2) .popup_list_item_content,
				&:nth-child(4) .popup_list_item_content {
					width: 250px;
				}

				&:nth-child(5) .popup_list_item_content {
					width: 200px;
				}
			}
		}
	}
}
