*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'Open-Sans', sans-serif;
}

body {
	width: 100%;
	position: relative;
	display: flex;
	height: 100%;
	padding: 24px;

	&.loading {
		>.loader {
			display: block;
		}
	}

	&.authorized {
		min-width: 1120px;
	}
}

.loader {
	z-index: 2;
	position: absolute;
	width: 50px;
	height: 50px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation: loaderRotate .7s infinite linear;
	display: none;
}

@keyframes loaderRotate {
	100% {
		transform: rotateZ(360deg);
	}
}


.background {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	.circle1 {
		position: absolute;
		width: 281px;
		height: 281px;
		left: 60%;
		top: 250px;
		background: linear-gradient(180deg, rgba(255, 0, 92, 0.5) 0%, rgba(112, 0, 255, 0.5) 100%);
		filter: blur(100px);
	}

	.circle2 {
		position: absolute;
		width: 188px;
		height: 188px;
		left: 120px;
		bottom: 100px;

		background: linear-gradient(180deg, #243060 0%, #121C44 100%);
		filter: blur(57px);
	}

	.circle3 {
		position: absolute;
		width: 289px;
		height: 289px;
		left: -168px;
		top: -58px;

		background: linear-gradient(180deg, #131842 0%, #4D0E69 100%);
		filter: blur(52px);
	}
}



input {
	font-family: 'Open-Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	height: 32px;
	padding: 0 12px;
	background: transparent;
	border: 1px solid #C3C8EE;
	border-radius: 8px;

	&::placeholder {
		color: #9E9E9E;
	}

	&:focus {
		outline-color: @primary;
	}
}

textarea {
	font-family: 'Open-Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	min-height: 100px;
	padding: 8px 12px;
	background: transparent;
	border: 1px solid #C3C8EE;
	border-radius: 8px;
	resize: vertical;

	&::placeholder {
		color: #9E9E9E;
	}

	&:focus {
		outline-color: @primary;
	}
}
